<div class="container">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills navbar-dark">
        <li class="nav-link"><a routerLink="" class="nav-link" aria-current="page">Home</a></li>
        <li class="nav-link"><a routerLink="business" class="nav-link">Business</a></li>
        <li class="nav-link"><a routerLink="entertainment" class="nav-link">Entertainment</a></li>
        <li class="nav-link"><a routerLink="health" class="nav-link">Health</a></li>
        <li class="nav-link"><a routerLink="science" class="nav-link">Science</a></li>
      </ul>
    </header>
  </div>